<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Decouvrir Ionic</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>

  <!--<ion-chip>
  Méteo {{city}};
  </ion-chip>-->

  <h3>Bienvenue sur mon application Ionic</h3>

  <p>
    Ce projet est là pour tester les différents éléments proposés par Ionic
  </p>
  
  <p>
    Je vous invite à explorer les rubriques</p>

  <h4>Voici la comparaison entre la météo de Clermont-Ferrand et celle du Puy-en Velay</h4>
  <!--<meteo city="montferrand"></meteo>-->
  <meteo></meteo>

  <div><img src="http://excepto.fr/images/carte.png"/></div>

  <meteopuy></meteopuy>


  <p>
    <button ion-button color="primary" menuToggle>Menu déroulant</button>
  </p>

</ion-content>
